{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}
{% block stylesheets %}
    {{ include('common.html.twig') }}
    <link rel="stylesheet" type="text/css" href="{{ asset('media/styles/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('media/styles/authpages.css') }}">
{% endblock %}
{% block body %}
    {{ include('components/header.html.twig') }}

    <div class="flex-col centered top-margined">
        <img src="{{ asset('media/images/person-sitting.png') }}" alt="Register image" class="title-pic-sm">
        <h1 class="title text-center">Sign in</h1>
    </div>

    <div class="flex centered">
        <div class="flex-col centered regform-box bottom-margined30">
            <form method="post">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="flex-col">
                    <label for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                    </div>

                    <button class="btn btn-lg btn-primary top-margined" type="submit">Sign in</button>
                </div>
            </form>

            <a href="{{ path('app_register') }}" target="_self" class="top-margined">Not registered yet?</a>

        </div>
    </div>

{% endblock %}
