{% extends('base.html.twig') %}

{% block stylesheets %}
    {{ include('common.html.twig') }}
    <link rel="stylesheet" type="text/css" href="{{ asset('media/styles/header.css') }}">
{% endblock %}

{% block body %}
    {{ include('components/header.html.twig') }}

    <div class="content-container">
        <div class="flex-row head-tools-container">
            <a href="{{ path('add_article_page') }}" class="addnew-button"><button class="btn btn-primary">Add a new article</button></a>
        </div>
        <div id="announcesBox"></div>
        <div class="flex-row">
            <div class="flex-row" style="justify-content: start">
                <button class="prev-page btn btn-primary">Previous<i class="fas fa-arrow-left"></i></button>
            </div>
            <div id="pagesRow" class="flex-row centered"></div>
            <div class="flex-row" style="justify-content: end">
                <button class="next-page btn btn-primary">Next<i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            loadArticlesList(5);
        });

        let currentPage = 0;
        let totalPages = 0;
        let countOnPage = 5;

        function loadArticlesList() {
            $.ajax({
                type: 'POST',
                url: '{{ path('articles_list') }}',
                data: {
                    count: countOnPage,
                    offset: currentPage * countOnPage
                },
                success: function (rawData) {
                    let data = JSON.parse(rawData);
                    totalPages = Math.ceil(data.total / countOnPage);
                    for (i in data.content)
                    {
                        let item = data.content[i];
                        let title = item.title;
                        let writingTime = new Date(item.writingTime.date);
                        let viewsCount = item.viewsCount;
                        let username = item.username;
                        let description = item.description;
                        let articleId = item.id;
                        let commentsCount = item.commentsCount;

                        let container = $('<div>', {'class': 'article-announce-container'});
                        $('<h4>', {'class': 'article-title'}).text(title).appendTo(container);
                        $('<p>')
                            .append($('<i>', {'class': 'fas fa-calendar'}))
                            .append(`${writingTime.getDate()}.${writingTime.getMonth()}.
                            ${writingTime.getFullYear()} ${writingTime.getHours()}:${writingTime.getMinutes()}`)
                            .append($('<i>', {'class': 'fas fa-eye'}))
                            .append(viewsCount)
                            .append($('<i>', {'class': 'fas fa-user-tie'}))
                            .append(username)
                            .appendTo(container);
                        $('<p>').text(description).appendTo(container);
                        $('<a>', {'href': '/article/' + articleId})
                            .append($('<button>', {'class': 'btn btn-primary'}).text('Discover'))
                            .appendTo(container);
                        $('<a>', {'href': '/article/' + articleId + '#comments'})
                            .append($('<i>', {'class': 'fas fa-comments'}))
                            .append($('<label>').text(commentsCount))
                            .appendTo(container);
                        $('#announcesBox').append(container);
                    }

                    if (totalPages > 5)
                    {
                        let lower = Math.max(currentPage - 2, 0);
                        let higher = Math.min(currentPage + 2, totalPages - 1);
                        for(let i = lower; i <= higher; ++i)
                        {
                            let btnClass;
                            if (i == currentPage)
                                btnClass = 'btn btn-secondary btn-sm pageSelector';
                            else
                                btnClass = `btn btn-primary btn-sm pageSelector`
                            $('#pagesRow').append($('<button>', {'class': btnClass, 'data-page-num': i }).text(i + 1));
                        }
                    }
                    else {
                        for(let i = 0; i !== totalPages; ++i)
                        {
                            let btnClass;
                            if (i == currentPage)
                                btnClass = 'btn btn-secondary btn-sm pageSelector';
                            else
                                btnClass = `btn btn-primary btn-sm pageSelector`
                            $('#pagesRow').append($('<button>', {'class': btnClass, 'data-page-num': i }).text(i));
                        }
                    }

                    $('.pageSelector').click(function () {
                        currentPage = $(this).attr('data-page-num');
                        $('#announcesBox').empty();
                        $('#pagesRow').empty();
                        loadArticlesList();
                    });

                    let prevButton = $('.prev-page');
                    let nextButton = $('.next-page');
                    currentPage === 0 ? prevButton.attr('disabled', 'true'): prevButton.removeAttr('disabled');
                    currentPage === totalPages - 1 ? nextButton.attr('disabled', 'true'): nextButton.removeAttr('disabled');

                }
            })
        }

        $('.prev-page').click(function () {
            if (currentPage > 0)
            {
                currentPage--;
                $('#announcesBox').empty();
                $('#pagesRow').empty();
                loadArticlesList();
            }
        });

        $('.next-page').click(function () {
            if (currentPage < totalPages)
            {
                currentPage++;
                $('#announcesBox').empty();
                $('#pagesRow').empty();
                loadArticlesList();
            }
        });

    </script>
{% endblock %}