{% extends('base.html.twig') %}

{% block stylesheets %}
    {{ include('common.html.twig') }}
    <link rel="stylesheet" type="text/css" href="{{ asset('media/styles/header.css') }}">
{% endblock %}

{% block body %}
    {{ include('components/header.html.twig') }}

    <div class="content-container">
        <div class="flex-row head-tools-container">
            <a href="{{ path('add_article_page') }}" class="addnew-button"><button class="btn btn-primary">Add a new article</button></a>
        </div>
        <div id="announcesBox"></div>
        <div class="flex-row">
            <button class="prev-page btn btn-primary">Previous<i class="fas fa-arrow-left"></i></button>
            <div id="pagesRow"></div>
            <button class="next-page btn btn-primary">Next<i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            loadArticlesList(10);
        });

        let loadedItemsCount = 0;
        let totalCount = 0;

        function loadArticlesList(count) {
            $.ajax({
                type: 'POST',
                url: '{{ path('articles_list') }}',
                data: {
                    count: count,
                    offset: loadedItemsCount
                },
                success: function (rawData) {
                    let data = JSON.parse(rawData);
                    totalCount = data.total;
                    loadedItemsCount += data.loaded;
                    for (i in data.content)
                    {
                        let item = data.content[i];
                        let title = item.title;
                        let writingTime = Date.parse(item.writingTime);
                        let viewsCount = item.viewsCount;
                        let username = item.username;
                        let description = item.description;
                        let articleId = item.id;
                        let commentsCount = item.commentsCount;

                        let container = $('<div>', {'class': 'article-announce-container'});
                        $('<h4>', {'class': 'article-title'}).text(title).appendTo(container);
                        $('<p>')
                            .append($('<i>', {'class': 'fas fa-calendar'}))
                            .append(writingTime.toString())
                            .append($('<i>', {'class': 'fas fa-eye'}))
                            .append(viewsCount)
                            .append($('<i>', {'class': 'fas fa-user-tie'}))
                            .append(username)
                            .appendTo(container);
                        $('<p>').text(description).appendTo(container);
                        $('<a>', {'href': '/article/' + articleId})
                            .append($('<button>', {'class': 'btn btn-primary'}).text('Discover'))
                            .appendTo(container);
                        $('<a>', {'href': '/article/' + articleId + '#comments'})
                            .append($('<i>', {'class': 'fas fa-comments'}))
                            .append($('<label>').text(commentsCount))
                            .appendTo(container);
                        $('#announcesBox').append(container);
                    }

                    let pagesCount = Math.ceil(totalCount/count);
                    let currentPage = Math.floor(loadedItemsCount / count) + 1;

                    if (pagesCount > 5)
                    {
                        let lower = Math.max(currentPage - 2, 1);
                        let higner = Math.min(currentPage + 2, pagesCount);
                        for(let i = lower; i <= higner; ++i)
                        {
                            $('#pagesRow').append($('<a>').text(i));
                        }
                    }
                    else {
                        for(let i = 0; i !== pagesCount; ++i)
                        {
                            $('#pagesRow').append($('<a>').text(i + 1));
                        }
                    }
                }
            })
        }
    </script>
{% endblock %}