{% extends('base.html.twig') %}

{% block title %}About NewsPortal{% endblock %}
{% block stylesheets %}
    {{ include('common.html.twig') }}
    <link rel="stylesheet" type="text/css" href="{{ asset('media/styles/header.css') }}">
{% endblock %}
{% block body %}
    {{ include('components/header.html.twig') }}
    <div class="page">
        <div class="content-container">
            <div>
                <div class="title-pic">
                    <img src="{{ asset('public/App/media/' ~ user.getUserPic()) }}" class="pic-cover" alt="Register image" id="previewImg">
                </div>
                <h1 class="title">{{ user.username }}</h1>
            </div>
            <h4 class="sub-title">{{ user.email }}</h4>
            {% if user.isNewsmaker() %}
                <p>Current role: newsmaker (it means you can read, write and manage your articles)</p>
            {% elseif user.isAdmin() %}
                <p>Current role: admin (it means you can read, write and manage all articles, edit and delete comments)</p>
            {% else %}
                <p>Current role: user (it means you can read articles and leave comments)</p>
            {% endif %}
        </div>
    </div>
    {{ include('components/footer.html.twig') }}
{% endblock %}