{% extends('base.html.twig') %}

{% block title %}About NewsPortal{% endblock %}
{% block stylesheets %}
    {{ include('common.html.twig') }}
    <link rel="stylesheet" type="text/css" href="{{ asset('media/styles/header.css') }}">
{% endblock %}
{% block body %}
    {{ include('components/header.html.twig') }}
    <div class="content-container">
        <div>
            <div class="title-pic">
                <img src="{{ asset('public/App/media/' ~ user.getUserPic()) }}" class="pic-cover" alt="Register image" id="previewImg">
            </div>
            <h1 class="title">{{ user.username }}</h1>
        </div>
        <h4 class="sub-title">{{ user.getDescription() }}</h4>
        {% if(app.user.id == user.id) %}
            <div><button type="button" class="btn btn-primary">Configure profile</button></div>
        {% endif %}
    </div>
{% endblock %}