<div class="header">
    <div class="header-content">
        <a href="{{ path('feed_page') }}"><img src="media/images/main_logo.png" alt="logo"></a>
        {% if app.user %}
            <div class="pin-right">
                <a href="{{ path('owner_page') }}" target="_self"><button type="button" class="btn btn-primary hbtn">{{ app.user.username }}</button></a>
                <a href="{{ path('app_logout') }}" target="_self"><button type="button" class="btn btn-outline-primary hbtn">Sign out</button></a>
            </div>
        {% else %}
            <div class="pin-right">
                <a href="{{ path('app_register') }}" target="_self"><button type="button" class="btn btn-primary hbtn">Register</button></a>
                <a href="{{ path('app_login') }}" target="_self"><button type="button" class="btn btn-outline-primary hbtn">Sign in</button></a>
            </div>
        {% endif %}
    </div>
</div>